:root {
  --white-faded: rgba(255, 255, 255, 0.5);
  --dark-faded: rgba(100, 100, 100, 0.8);
  --transition: all 200ms ease-in-out;
  --bg: orangered;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background-color: var(--bg);
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  align-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: 2rem;
  place-items: center;
  align-content: center;
  gap: 0.5rem;
  min-height: 100%;
  width: 100%;
}

.lightbox-enabled {
  height: 15rem;
  width: 12rem;
  object-fit: cover;
  transition: var(--transition);
  border-radius: 0.5rem;
}
.lightbox-enabled:hover {
  filter: grayscale(0.8);
  transform: scale(1.01);
  cursor: zoom-in;
}

.lightbox-container {
  background-color: var(--white-faded);
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  padding: 1rem;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: var(--transition);
}
.lightbox-container.active {
  pointer-events: all;
  opacity: 1;
}

.lightbox-image-wrapper {
  display: grid;
  place-items: center;
  height: 30rem;
  width: 24rem;
  position: relative;
  box-shadow: 0.3rem 0.3rem 1rem var(--dark-faded);
  border-radius: 1rem;
}

.lightbox-image-wrapper img {
  height: 30rem;
  width: 24rem;
  object-fit: cover;
  cursor: zoom-out;
  border-radius: 1rem;
}

.lightbox-btn {
  font-size: 1.6rem;
  height: 3rem;
  width: 3rem;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: grid;
  place-items: center;
  transition: var(--transition);
  position: absolute;
}
.lightbox-btn.inactive {
  opacity: 0;
  pointer-events: none;
}
.lightbox-btn:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.lightbox-btn.left {
  left: 0.5rem;
}
.lightbox-btn.left:hover {
  left: 0rem;
}
.lightbox-btn.right {
  right: 0.5rem;
}
.lightbox-btn.right:hover {
  right: 0rem;
}

@media only screen and (max-width: 55rem) {
  .lightbox-enabled {
    height: 14rem;
    width: 11rem;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    padding: 1rem;
  }
  .lightbox-image-wrapper {
    height: 27rem;
    width: 21rem;
  }

  .lightbox-image-wrapper img {
    height: 27rem;
    width: 21rem;
  }
}
